/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

.social-icon{
  font-size:22pt;
}
